:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #2F303A;
}
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
/* Логотип */
.logo { font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--primary-text-color);
    text-decoration: none;
}
.logostyle {
    color: var(--accent-color)
}
/* Навигая в хедере */
.link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus
{
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
} 

.header-contacts {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
    color:var(--accent-color)
}

/* SOLUTIONS */
.solutions {
    background-color: #2F303A;;
}
.button-primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}
.solutions-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
/* Загаловки секций*/
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
/* Изображения */
.services-image {
    width: 370px;
}
/* Секция Advantages */
.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.advantages-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--secondary-text-color);

}
/* Секция Our team */
.team-image {
    width: 270px;
}
.our-team {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}
.team-speciality {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    color: var(--secondary-text-color);
}

/*Подвал*/
footer {
    background-color: #2F303A;
}
footer>.logo {
    color: #FFFFFF;
}
.location {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}
/*Стили для портфолио*/
.project-box {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;
}
.catalog-img {
    width: 370px;
}
.portfolio-projects {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-type {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}
/*Кнопки в портфолио*/
.button-projects {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    border-color: transparent;
}

.button-projects:hover,
.button-projects:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button-projects.all {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}